body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    border: 2px, solid, black;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    font-size: 30px;
    margin: 20px;
}

.container{
    border: 8px, solid, rgb(106, 84, 84);
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
}

.boxes{
    background-color:rgb(230, 230, 236);
    width: 30px;
    height: 30px;
    box-shadow: 0 0 0 1px rgb(0, 0, 0) inset;
}

.hover{
    background-color:rgb(160, 174, 185)
}